.home-cover{

    background-image: url('../../images/cover.jpeg');
    background-size: cover;
    width: 100%;
    padding-top: 50%;
}
.search-input{
   width: 50%;
  
  
}
.search-input-button{
    height: 7%;
   
}
