.home-cover{

    background-image: url('../../images/cover.jpeg');
    background-size: cover;
    width: 100%;
    padding-top: 50%;
    height: 100vh;
    position: relative;
}
.home-menu-cart{
margin-top: 13%;
overflow-x: scroll;
background-color: rgb(249, 245, 240);
border-radius: 2%;
}
.home-up-content{
position: absolute;
top:0;
width: 100%;
}
.search-input{
   width: 50%;
  
  
}
.search-input-button{
    height: 7%;
   
}
.home-product-section{
    
}
